<!-- src/app/components/customer-table/customer-table.component.html -->
<div>
  <input [(ngModel)]="filterCriteria" (input)="filterTable()" placeholder="Filter by name or transaction amount">
  <table class="customer-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Total Transaction Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of filteredCustomers" [routerLink]="['/chart',customer.id]">
        <td>{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{getTotalTransactionAmount(customer.id)}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <canvas id="transactionChart"></canvas>
</div>
